.wrapper {
    overflow-y: overlay;
    height: 100%;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 9999999px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
