.wrapper {
    width: 100%;
    padding: 12px 20px;

    .title {
        font-size: 1.6rem;
        color: var(--black);
    }

    .body {
        font-size: 1.4rem;
        color: var(--white);
    }
}
