.wrapper {
    height: calc(100% - 69px);
    display: flex;
    position: relative;

    .add-note {
        position: absolute;
        bottom: 30px;
        font-size: 1.6rem;
        left: 30px;
        padding: 6px 12px;

        &:hover i {
            transition: all 0.5s ease;
            transform: rotate(450deg);
        }

        & i {
            transition: all 0.5s ease;
            font-size: 2.4rem;
        }
    }
}

.active {
    background-color: #fff49c;
}

.empty-note {
    display: flex;
    justify-content: center;
    margin: 12px 0;
    height: 100%;
    width: 100%;
}

@media (max-width: 1140px) {
    .list-todo {
        position: absolute;
        left: 0;
        width: 60px;
        background-color: #f0efef;
        transition: all 0.4s ease;

        &:hover {
            width: 300px;
        }
    }

    .list-item {
        padding: 12px 20px;
        & h4 {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #ccc;
            font-size: 1.4rem;
        }
    }

    .note-wrapper {
        margin-left: 60px;
    }
}
